stix_validator/schema/cybox/objects/Process_Object.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ProcessObj="http://cybox.mitre.org/objects#ProcessObject-2" xmlns:cyboxCommon="http://cybox.mitre.org/common-2" xmlns:PortObj="http://cybox.mitre.org/objects#PortObject-2" xmlns:NetworkConnectionObj="http://cybox.mitre.org/objects#NetworkConnectionObject-2" targetNamespace="http://cybox.mitre.org/objects#ProcessObject-2" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0">
	<xs:annotation>
		<xs:documentation>This schema was originally developed by The MITRE Corporation. The CybOX XML Schema implementation is maintained by The MITRE Corporation and developed by the open CybOX Community. For more information, including how to get involved in the effort and how to submit change requests, please visit the CybOX website at http://cybox.mitre.org. </xs:documentation>
		<xs:appinfo>
			<schema>Process_Object</schema>
			<version>2.0</version>
			<date>02/11/2013 9:00:00 AM</date>
			<short_description>The following specifies the fields and types that compose this defined CybOX Object type. Each defined object is an extension of the abstract ObjectPropertiesType, defined in CybOX Common. For more information on this extension mechanism, please see the CybOX Specification. This document is intended for developers and assumes some familiarity with XML. </short_description>
			<terms_of_use>Copyright (c) 2012-2013, The MITRE Corporation. All rights reserved. The contents of this file are subject to the terms of the CybOX License located at http://cybox.mitre.org/about/termsofuse.html. See the CybOX License for the specific language governing permissions and limitations for use of this schema. When distributing copies of the CybOX Schema, this license header must be included. </terms_of_use>
		</xs:appinfo>
	</xs:annotation>
	<xs:import namespace="http://cybox.mitre.org/common-2" schemaLocation="../cybox_common.xsd"/>
	<xs:import namespace="http://cybox.mitre.org/objects#PortObject-2" schemaLocation="Port_Object.xsd"/>
	<xs:import namespace="http://cybox.mitre.org/objects#NetworkConnectionObject-2" schemaLocation="Network_Connection_Object.xsd"/>
	<xs:element name="Process" type="ProcessObj:ProcessObjectType" nillable="true">
		<xs:annotation>
			<xs:documentation>The Process object is intended to characterize system processes.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="ProcessObjectType" mixed="false">
		<xs:annotation>
			<xs:documentation>The ProcessObjectType type is intended to characterize system processes.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cyboxCommon:ObjectPropertiesType">
				<xs:sequence>
					<xs:element name="PID" type="cyboxCommon:UnsignedIntegerObjectPropertyType" nillable="true" minOccurs="0">
						<xs:annotation>
							<xs:documentation>The PID field specifies the Process ID, or PID, of the process.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Name" type="cyboxCommon:StringObjectPropertyType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>The Name field specifies the name of the process.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Creation_Time" type="cyboxCommon:DateTimeObjectPropertyType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>The Creation_Time field specifies the local date/time at which the process was created.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Parent_PID" type="cyboxCommon:UnsignedIntegerObjectPropertyType" nillable="true" minOccurs="0">
						<xs:annotation>
							<xs:documentation>The Parent_PID field specifies the process ID (PID) of the parent process (i.e. the process that spawned this one), if applicable.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Child_PID_List" type="ProcessObj:ChildPIDListType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>The Child_PID_List field specifies any children spawned by the process being characterized, by way of a list of PIDs.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Image_Info" type="ProcessObj:ImageInfoType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>The Image_Info field specifies information about the image associated with the process, such as its file name and path.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Argument_List" type="ProcessObj:ArgumentListType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>The Argument_List field is optional and specifies a list of arguments utlized in intiating the process.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Environment_Variable_List" type="cyboxCommon:EnvironmentVariableListType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>The Environment_Variable_List field specifies any environment variables associated with the process. This field imports and uses the EnvironmentVariableListType from the CybOX Common Types.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Kernel_Time" type="cyboxCommon:DurationObjectPropertyType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>The Kernel_Time field specifies the duration of time that the process has executed in kernel mode.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Port_List" type="ProcessObj:PortListType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>The Port_List field is optional and specifies a list of ports owned by the process.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Network_Connection_List" type="ProcessObj:NetworkConnectionListType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The Network_Connection_List field specifies information about any network connections opened or initiated by the process.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Start_Time" type="cyboxCommon:DateTimeObjectPropertyType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>The Start_Time field specifies the local date/time at which the process was started.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Status" type="ProcessObj:ProcessStatusType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>The Status field specifies the current status of the process. Since this is an operating system specific Object property, this is defined here as an abstract type which is then used as a base type in any OS-specific extensions.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Username" type="cyboxCommon:StringObjectPropertyType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The Username field specifies the name of the user that created the process.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="User_Time" type="cyboxCommon:DurationObjectPropertyType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>The User_Time field specifies the duration of time that the process has executed in user mode.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Extracted_Features" type="cyboxCommon:ExtractedFeaturesType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>A description of features extracted from the memory image of this process.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="is_hidden" type="xs:boolean">
					<xs:annotation>
						<xs:documentation>The is_hidden field specifies whether the process is hidden or not.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="NetworkConnectionListType">
		<xs:annotation>
			<xs:documentation>The NetworkConnectionListType type is a list of network connections.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Network_Connection" type="NetworkConnectionObj:NetworkConnectionObjectType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>The Network_Connection field specifies information about a single network connection opened or initiated by the process.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ImageInfoType">
		<xs:annotation>
			<xs:documentation>The ImageInfoType type captures information about the process image.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element minOccurs="0" name="File_Name" type="cyboxCommon:StringObjectPropertyType">
				<xs:annotation>
					<xs:documentation>The File_Name field specifies the name of the binary file which represents the process image.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Command_Line" type="cyboxCommon:StringObjectPropertyType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The Command_Line field specifies the complete command used to execute the process image.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Current_Directory" type="cyboxCommon:StringObjectPropertyType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The Current_Directory field specifies the current directory of the process image.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Path" type="cyboxCommon:StringObjectPropertyType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The Path field specifies the fully qualified path to the image file, including the file name.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProcessStatusType" abstract="true">
		<xs:annotation>
			<xs:documentation>The ProcessStatusType is used for specifying the status of a running or terminated process. Since this property is platform-specific, it is created here as an abstract type and then used in the platform-specific process CybOX objects.</xs:documentation>
		</xs:annotation>
	</xs:complexType>
	<xs:complexType name="ChildPIDListType">
		<xs:annotation>
			<xs:documentation>The ChildPIDListType type captures the PID's of the children of the process in a list format.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Child_PID" type="cyboxCommon:UnsignedIntegerObjectPropertyType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>The Child_PID field specifies the process ID of a single child process.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ArgumentListType">
		<xs:annotation>
			<xs:documentation>The ArgumentListType is intended to specify a list of arguments utlized in intiating the process.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Argument" type="cyboxCommon:StringObjectPropertyType" minOccurs="1" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>The Argument field is optional and specifies a single argument utlized in intiating the process.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PortListType">
		<xs:annotation>
			<xs:documentation>The PortListType is intended to specify a list of network ports.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Port" type="PortObj:PortObjectType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>The Port field is optional and specifies a single network port.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>