stix_validator/schema/cybox/objects/Win_Service_Object.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:WinServiceObj="http://cybox.mitre.org/objects#WinServiceObject-2" xmlns:cyboxCommon="http://cybox.mitre.org/common-2" xmlns:WinProcessObj="http://cybox.mitre.org/objects#WinProcessObject-2" targetNamespace="http://cybox.mitre.org/objects#WinServiceObject-2" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0">
	<xs:annotation>		
		<xs:documentation>Change to This schema was originally developed by The MITRE Corporation. The CybOX XML Schema implementation is maintained by The MITRE Corporation and developed by the open CybOX Community. For more information, including how to get involved in the effort and how to submit change requests, please visit the CybOX website at http://cybox.mitre.org. </xs:documentation>
		<xs:appinfo>
			<schema>Win_Service_Object</schema>
			<version>2.0</version>
			<date>02/11/2013 9:00:00 AM</date>
			<short_description>The following specifies the fields and types that compose this defined CybOX Object type. Each defined object is an extension of the abstract ObjectPropertiesType, defined in CybOX Common. For more information on this extension mechanism, please see the CybOX Specification. This document is intended for developers and assumes some familiarity with XML. </short_description>
			<terms_of_use>Copyright (c) 2012-2013, The MITRE Corporation. All rights reserved. The contents of this file are subject to the terms of the CybOX License located at http://cybox.mitre.org/about/termsofuse.html. See the CybOX License for the specific language governing permissions and limitations for use of this schema. When distributing copies of the CybOX Schema, this license header must be included. </terms_of_use>
		</xs:appinfo>
	</xs:annotation>
	<xs:import namespace="http://cybox.mitre.org/common-2" schemaLocation="../cybox_common.xsd"/>
	<xs:import namespace="http://cybox.mitre.org/objects#WinProcessObject-2" schemaLocation="Win_Process_Object.xsd"/>
	<xs:element name="Windows_Service" type="WinServiceObj:WindowsServiceObjectType" nillable="true">
		<xs:annotation>
			<xs:documentation>Windows_Service object is intended to characterize Windows services. See also: http://msdn.microsoft.com/en-us/library/windows/desktop/ms685141(v=vs.85).aspx</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="WindowsServiceObjectType" mixed="false">
		<xs:annotation>
			<xs:documentation>The WindowsServiceObjectType type is intended to characterize Windows services.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="WinProcessObj:WindowsProcessObjectType">
				<xs:sequence>
					<xs:element name="Description_List" type="WinServiceObj:ServiceDescriptionListType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>A list of description items for this service.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Display_Name" type="cyboxCommon:StringObjectPropertyType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The Display_Name field specifies the displayed name of the service in Windows GUI controls. See also: http://msdn.microsoft.com/en-us/library/windows/desktop/ms683228(v=vs.85).aspx</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="Group_Name" type="cyboxCommon:StringObjectPropertyType">
						<xs:annotation>
							<xs:documentation>The Group_Name field specifies the name of the load ordering group of which this service is a member.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Service_Name" type="cyboxCommon:StringObjectPropertyType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The Name field specifies the name of the service. See also: http://msdn.microsoft.com/en-us/library/windows/desktop/ms683229(v=vs.85).aspx</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Service_DLL" type="cyboxCommon:StringObjectPropertyType" nillable="true" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The Service_DLL field specifies name of the DLL instantiated in the service.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Service_DLL_Certificate_Issuer" type="cyboxCommon:StringObjectPropertyType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The Certificate Authority (CA) that issued the certificate used to sign the service DLL.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Service_DLL_Certificate_Subject" type="cyboxCommon:StringObjectPropertyType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The subject of the certifcate (the entity being authenticated).</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Service_DLL_Hashes" type="cyboxCommon:HashListType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Hashes for the Service DLL file.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Service_DLL_Signature_Description" type="cyboxCommon:StringObjectPropertyType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The Service_DLL_Signature_Description field provides a description of the digital signature for the service DLL.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Startup_Command_Line" type="cyboxCommon:StringObjectPropertyType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The Startup_Command_Line field specifies the full command line used to start the service.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Startup_Type" type="WinServiceObj:ServiceModeType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Service start options. See http://msdn.microsoft.com/en-us/library/windows/desktop/ms682450(v=vs.85).aspx</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Service_Status" type="WinServiceObj:ServiceStatusType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Status information for a service. See also: http://msdn.microsoft.com/en-us/library/windows/desktop/ms685996(v=vs.85).aspx</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Service_Type" type="WinServiceObj:ServiceType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>The Type field specifies the type of the service.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="Started_As" type="cyboxCommon:StringObjectPropertyType">
						<xs:annotation>
							<xs:documentation>The Started_As field specifies the name of the account under which the service was started.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="service_dll_signature_exists" type="xs:boolean">
					<xs:annotation>
						<xs:documentation>Indicates whether or not the DLL is signed.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="service_dll_signature_verified" type="xs:boolean">
					<xs:annotation>
						<xs:documentation>Indicates whether or not the DLL's signature was verified.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ServiceDescriptionListType">
		<xs:annotation>
			<xs:documentation>A collection of service descriptions.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Description" type="cyboxCommon:StringObjectPropertyType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>A description of the service. See also: http://msdn.microsoft.com/en-us/library/windows/desktop/ms685156(v=vs.85).aspx</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ServiceModeType">
		<xs:annotation>
			<xs:documentation>ServiceModeType specifies Windows service modes via a union of the ServiceModeEnum type and the atomic xs:string type. Its base type is the CybOX Core BaseObjectPropertyType, for permitting complex (i.e. regular-expression based) specifications.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:restriction base="cyboxCommon:BaseObjectPropertyType">
				<xs:simpleType>
					<xs:union memberTypes="WinServiceObj:ServiceModeEnum xs:string"/>
				</xs:simpleType>
				<xs:attribute name="datatype" type="cyboxCommon:DatatypeEnum" use="optional" fixed="string">
					<xs:annotation>
						<xs:documentation>This attribute is optional and specifies the expected type for the value of the specified property.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ServiceStatusType">
		<xs:annotation>
			<xs:documentation>ServiceModeType specifies Windows service states via a union of the ServiceStatusEnum type and the atomic xs:string type. Its base type is the CybOX Core BaseObjectPropertyType, for permitting complex (i.e. regular-expression based) specifications.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:restriction base="cyboxCommon:BaseObjectPropertyType">
				<xs:simpleType>
					<xs:union memberTypes="WinServiceObj:ServiceStatusEnum xs:string"/>
				</xs:simpleType>
				<xs:attribute name="datatype" type="cyboxCommon:DatatypeEnum" fixed="string">
					<xs:annotation>
						<xs:documentation>This attribute is optional and specifies the expected type for the value of the specified property.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ServiceType">
		<xs:annotation>
			<xs:documentation>ServiceType specifies Windows service types via a union of the ServiceTypeEnum type and the atomic xs:string type. Its base type is the CybOX Core BaseObjectPropertyType, for permitting complex (i.e. regular-expression based) specifications.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:restriction base="cyboxCommon:BaseObjectPropertyType">
				<xs:simpleType>
					<xs:union memberTypes="WinServiceObj:ServiceTypeEnum xs:string"/>
				</xs:simpleType>
				<xs:attribute name="datatype" type="cyboxCommon:DatatypeEnum" fixed="string">
					<xs:annotation>
						<xs:documentation>This attribute is optional and specifies the expected type for the value of the specified property.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="ServiceModeEnum">
		<xs:annotation>
			<xs:documentation>The ServiceModeEnum type is an enumeration of service modes. See also: http://msdn.microsoft.com/en-us/library/windows/desktop/ms682450(v=vs.85).aspx</xs:documentation>
		</xs:annotation>
		<xs:list>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="SERVICE_AUTO_START">
						<xs:annotation>
							<xs:documentation>A service started automatically by the service control manager during system startup.</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="SERVICE_BOOT_START">
						<xs:annotation>
							<xs:documentation>A device driver started by the system loader. This value is valid only for driver services.</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="SERVICE_DEMAND_START">
						<xs:annotation>
							<xs:documentation>A service started by the service control manager when a process calls the StartService function.</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="SERVICE_DISABLED">
						<xs:annotation>
							<xs:documentation>A service that cannot be started. Attempts to start the service result in the error code ERROR_SERVICE_DISABLED.</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="SERVICE_SYSTEM_START">
						<xs:annotation>
							<xs:documentation>A device driver started by the IoInitSystem function. This value is valid only for driver services.</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
				</xs:restriction>
			</xs:simpleType>
		</xs:list>
	</xs:simpleType>
	<xs:simpleType name="ServiceStatusEnum">
		<xs:annotation>
			<xs:documentation>The ServiceStatusEnum type is an enumeration of potential service states. See also: http://msdn.microsoft.com/en-us/library/windows/desktop/ms685996(v=vs.85).aspx</xs:documentation>
		</xs:annotation>
		<xs:list>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="SERVICE_CONTINUE_PENDING">
						<xs:annotation>
							<xs:documentation>The service continue is pending.</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="SERVICE_PAUSE_PENDING">
						<xs:annotation>
							<xs:documentation>The service pause is pending.</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="SERVICE_PAUSED">
						<xs:annotation>
							<xs:documentation>The service is paused.</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="SERVICE_RUNNING">
						<xs:annotation>
							<xs:documentation>The service is running.</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="SERVICE_START_PENDING">
						<xs:annotation>
							<xs:documentation>The service is starting.</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="SERVICE_STOP_PENDING">
						<xs:annotation>
							<xs:documentation>The service is stopping.</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="SERVICE_STOPPED">
						<xs:annotation>
							<xs:documentation>The service is not running.</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
				</xs:restriction>
			</xs:simpleType>
		</xs:list>
	</xs:simpleType>
	<xs:simpleType name="ServiceTypeEnum">
		<xs:annotation>
			<xs:documentation>The ServiceTypeEnum type is an enumeration of service types. See also: http://msdn.microsoft.com/en-us/library/windows/desktop/ms685996(v=vs.85).aspx</xs:documentation>
		</xs:annotation>
		<xs:list>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="SERVICE_KERNEL_DRIVER">
						<xs:annotation>
							<xs:documentation>The service is a device driver.</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="SERVICE_FILE_SYSTEM_DRIVER">
						<xs:annotation>
							<xs:documentation>The service is a file system driver.</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="SERVICE_WIN32_OWN_PROCESS">
						<xs:annotation>
							<xs:documentation>The service runs in its own process.</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="SERVICE_WIN32_SHARE_PROCESS">
						<xs:annotation>
							<xs:documentation>The service shares a process with other services.</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
				</xs:restriction>
			</xs:simpleType>
		</xs:list>
	</xs:simpleType>
</xs:schema>