stix_validator/schema/test.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://bryan.mitre.org/Foo">
    <xs:element name="Foo">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Bar" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="SomeType">
        <xs:sequence>
            <xs:element name="Blah" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
